--zen-colors-primary: #fbf1c7 !important;
--zen-colors-secondary: #ebdbb2 !important/
--zen-colors-tertiary: #d5c4a1 !important;
--zen-colors-border: #3c3836 !important;
--zen-dialog-background: #fbf1c7 !important;
--toolbar-field-background-color: #f9f5d7 !important;
--toolbar-field-focus-background-color: #feebbc !important;
